
/*----information page--*/
.bg-img{
    background: url("images/info_bgimg.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
.home-col img{

    height: 100px;
    width: 100px;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.gallery-col img{

  height: 200px;
  width: 200px;
  align-items: center;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
div p:hover img{
    transform: scale(1.1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.info{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
  }
  h1{
    font-size: 40px;
    font-weight: 600;
    color: #fff3f3;
    
  }
  h2{
    font-size: 45px;
    font-weight: 600;
    color: #fff3f3;
    
  }
  p{
    color: #777;
    font-size: 14px;
    font-weight: 400;
    line-height:22px;
    padding: 10px;
   
  }
  .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
  
  }
  .home-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
  }
  .home-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
  }
  .gallery-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
  }
  .gallery-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
  }
  h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0 ;
  }

  
  @media(max-width:700px){
    .row{
      flex-direction: column;
    }
  }